#all{
    background-color: rgb(31, 27, 27);
}

#background{
    background-image: url(/images/pizza.jpg);
    background-size: ;
    background-size: cover;
    text-align: center;
    text-size-adjust: 1050px;
    text-decoration: underline dotted red;
    font-style: italic;
}
#images p{
    display: none;
}


    @media screen and (min-width:1200px){
        #images {
          width:auto !important;
          height:auto !important;
        }
      }  
.container-md-sm#size {
    text-align: center
} 


textarea {
    resize: none;
}

.order{
    text-align: center;
    background-color: burlywood;fixed;
}

button {
    color: whitesmoke !important;
}


.receipt{
    text-align: center;
    background-image: url(/images/backgroundd.jpeg);
    background-size: cover;
}
footer{
    text-align: center;
}
#size {
    background-color fixed: gray;
    h2{
    
}
#size.toggle{
    p
}


#size h2{
    color: blanchedalmond;
}
.order1{
    text-align: center;
}
#deliver{
    text-align: center;
}
